<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type1:</strong>
  <%= @pokemon.type1 %>
</p>

<p>
  <strong>Type2:</strong>
  <%= @pokemon.type2 %>
</p>

<p>
  <strong>Ability1:</strong>
  <%= @pokemon.ability1 %>
</p>

<p>
  <strong>Ability2:</strong>
  <%= @pokemon.ability2 %>
</p>

<p>
  <strong>Hidden ability:</strong>
  <%= @pokemon.hidden_ability %>
</p>

<p>
  <%= image_tag pokemon.picture.url if pokemon.picture? %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
